:root {
  --point--color1: #be161e;
  --point--color2: #c7b19b;
  --txt-color-400: #666;
  --txt-color-500: #999;
  --txt-color-600: #222;
}
body {
  font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'Apple SD Gothic Neo', sans-serif;
}
#wrap {
  min-width: 1260px;
  height: 1500px;
}
#header {
  min-width: 1260px;
  background: rgba(52, 52, 54, 1);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
}
#header .inner {
  width: 1180px;
  height: 100px;
  margin: 0 auto;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  margin: 0 auto;
}
/* #header .logo {
  border: 2px solid green;
} */
#header .gnb_wrap {
  margin-left: 80px;
}
#header .gnb {
  display: flex;
}
#header .gnb>li {
  padding: 0 15px;
}
#header .gnb>li>a {
  display: block;
  color: #fff;
  font-family: Akrobat, sans-serif;
  font-size: 19px;
  /* border: 2px solid red; */
  line-height: 100px;
  letter-spacing: 0.12em;
  position: relative;
}
#header .gnb>li>a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 100%;
  height: 3px;
  background-color: var(--point--color1);
  display: none;
}
#header .gnb>li:hover>a::after {
  display: block;
}
#container {
  padding-top: 100px;
}
.main_slider {
  overflow: hidden;
  position: relative;
  height: 900px;
}
.main_slider a {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}
.main_slider img {
  max-width: none;
}